@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Views/index.css" rel="stylesheet" />
<script src="~/Scripts/Views/index/index.js"></script>
@*<link href="~/Content/Views/styles.css" rel="stylesheet" />*@
<div>
    <div class="container">
        <header class="masthead">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <!-- Mashead text and app badges-->
                        <div class="mb-5 mb-lg-0 text-center text-lg-start">
                            <h1 class="display-1 lh-1 mb-3 index-font-big">TechLabs</h1>
                            <p class="lead fw-normal text-muted mb-3">&nbsp;La mejor red de laboratorios</p>
                            <button class="btn btn-outline-primary ms-2" id="empieza-aqui">¡Empezá aquí!</button>
                            <div class="d-flex flex-column flex-lg-row align-items-center">
                                @*<a class="me-lg-3 mb-4 mb-lg-0" href="#!"><img class="app-badge" src="assets/img/google-play-badge.svg" alt="..." /></a>
                                <a href="#!"><img class="app-badge" src="assets/img/app-store-badge.svg" alt="..." /></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Masthead device mockup feature-->
                        <div class="masthead-device-mockup">

                            <img src="~/Assets/indexMain.jpeg" height="580" width="730" />
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <hr class="featurette-divider">

        <div class="marketing main-banner">

            <!-- Three columns of text below the carousel -->
            <div class="row main-banner">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="~/Assets/testTube.jpeg" width="140" height="140">
                    <h2>Pruebas</h2>
                    <p>Contamos con el catálogo de pruebas<br /> más grande del país.</p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="~/Assets/price.jpeg" width="140" height="140">
                    <h2>Precios</h2>
                    <p>Sorpréndete con los mejores precios.</p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="~/Assets/location.jpeg" width="140" height="140">
                    <h2>Ubicaciones</h2>
                    <p>Cobertura total del país con una amplia red de laboratorios asociados.</p>
                </div>
            </div>


            <hr class="featurette-divider">

            <div class="row featurette main-banner">
                <div class="col-md-7">
                    <h2 class="featurette-heading">La mejor red<span class="text-muted"> de laboratorios.</span></h2>
                    <p class="lead">TechLabs te ofrece una red de laboratorios para que puedas encontrar y comprar las pruebas que necesitas, en cuestión de minutos.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="~/Assets/edificio.jpeg" alt="Generic placeholder image" height="401" width="445">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette main-banner">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Sé el primero en recibir grandes <span class="text-muted">descuentos.</span></h2>
                    <p class="lead">Nuestros laboratorios asociados anuncian primero sus descuentos en TechLabs, para que obtengas siempre el mejor precio.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="~/Assets/Logo3.png" alt="Generic placeholder image" width="350" height="350">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette main-banner">
                <div class="col-md-7">
                    <h2 class="featurette-heading">¿Tienes un laboratorio? <span class="text-muted">Asóciate a TechLabs.</span></h2>
                    <p class="lead">Ofrece tu catálogo a través de nosotros y conecta con miles de clientes.</p>
                    <button class="btn btn-outline-primary ms-2" id="empieza-socio">¡Regístrate como socio aquí!</button>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="~/Assets/handshake.jpg" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">


        </div>

    </div>



</div>