
@{
    ViewBag.Title = "LabsAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Views/ManageUsers.css" rel="stylesheet" />

<h2 class="container text-center pt-5" >Administración de laboratorios</h2>

<div class="container text-end">
    <button class="btn btn-primary mb-3" id="link-resgiterLab">Registrar Laboratorio</button>
</div>




<table id="tblLabs" class="display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo electrónico</th>
            @*<th>Razón Social</th>
            <th>Nombre Comercial</th>*@
            <th>Hora de apertura</th>
            <th>Hora de cierre</th>
            <th>Capacidad máxima</th>
            @*<th>Dirección de la página web</th>*@
            <th>Acción</th>
        </tr>
    </thead>
</table>




<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Laboratorio: <span id="editingUserName"> </span></h1>
            </div>
            <div class="modal-body">
                <div class="container">

                    <div class="row">
                        <div class="col">
                            <label for="inputName" class="form-label">Nombre de laboratorio</label>
                            <input type="text" class="form-control" id="inputName">
                        </div>
                        <div class="col">
                            <label for="inputPhone" class="form-label">Número de teléfono</label>
                            <input type="text" class="form-control" id="inputPhone">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="InputEmail" class="form-label">Correo electrónico</label>
                            <input type="text" class="form-control" id="InputEmail">
                        </div>
                        <div class="col">
                            <label for="inputSocialName" class="form-label">Razón Social</label>
                            <input type="text" class="form-control" id="inputSocialName">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label for="inputComercialName" class="form-label">Nombre Comercial</label>
                            <input type="text" class="form-control" id="inputComercialName">
                        </div>
                        <div class="col-3">
                            <label for="inputOpen" class="form-label">Hora de apertura</label>
                            <input type="time" class="form-control" id="inputOpen">
                        </div>
                        <div class="col-3">
                            <label for="inputClose" class="form-label">Hora de cierre</label>
                            <input type="time" class="form-control" id="inputClose">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="inputCapacity" class="form-label">Capacidad máxima</label>
                            <input type="text" class="form-control" id="inputCapacity">
                        </div>
                        <div class="col">
                            <label for="inputWebAddress" class="form-label">Dirección de la página web</label>
                            <input type="text" class="form-control" id="inputWebAddress">
                        </div>
                    </div>

                    @*<div class="row">
                        <div class="col">
                            <label for="foto-div" class="form-label">Fotografías (Mínimo 5)</label>
                            <br />
                            <div id="foto-div">




                            </div>
                            <div class="d-inline-block">
                                <button id="btn-foto" class="btn  btn-primary form-control">Subir</button>
                            </div>

                        </div>

                    </div>*@

                    @*<div class="row">
                        <div class="col-4">
                            <label for="btnRegister" class="form-label">&nbsp;</label>
                            <button class="btn btn-primary form-control" id="btnRegister">Registrarse</button>
                        </div>
                    </div>*@ 
                    <input type="text" class="form-control" value=@Session["email"] id="inputUser" hidden>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmChanges">Editar laboratorio</button>
            </div>
        </div>
    </div>
</div>
<input type="text" class="form-control" value=@Session["email"] id="userSession" hidden>
<input type="text" class="form-control" id="labId" hidden>
<script src="~/Scripts/Views/LabsAdmin/LabsAdmin.js"></script>