
@{
    ViewBag.Title = "MonkeyWare";
    Layout = "~/Views/Shared/MonkeyWareLayout.cshtml";
}

<html>
<head>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/Views/MonkeyWare.css" rel="stylesheet"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        
        <h5 class="section-title h1">MonkeyWare</h5>
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <a href="">
                        <picture>
                            <source srcset="https://images.unsplash.com/photo-1557218825-334e575bcc38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" media="(min-width: 1400px)">
                            <source srcset="https://images.unsplash.com/photo-1557218825-334e575bcc38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" media="(min-width: 769px)">
                            <source srcset="https://images.unsplash.com/photo-1557218825-334e575bcc38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" media="(min-width: 577px)">
                            <img srcset="https://images.unsplash.com/photo-1557218825-334e575bcc38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="responsive image" class="d-block img-fluid">
                        </picture>

                        <div class="carousel-caption">
                            <div>
                                <h2 class="text-black">Equipo experto en desarrollo de software con amplia experiencia</h2>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- /.carousel-item -->
                <div class="carousel-item">
                    <a href="">
                        <picture>
                            <source srcset="https://images.unsplash.com/photo-1487452066049-a710f7296400?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80" media="(min-width: 1400px)">
                            <source srcset="https://images.unsplash.com/photo-1487452066049-a710f7296400?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"  media="(min-width: 769px)">
                            <source srcset="https://images.unsplash.com/photo-1487452066049-a710f7296400?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"  media="(min-width: 577px)">
                            <img srcset="https://images.unsplash.com/photo-1487452066049-a710f7296400?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80" alt="responsive image" class="d-block img-fluid">
                        </picture>

                        <div class="carousel-caption justify-content-center align-items-center">
                            <div>
                                <h2>
                                    Return to monkey,  
                                    Evolve with MonkeyWare
                                </h2>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- /.carousel-item -->
                <div class="carousel-item">
                    <a href="h">
                        <picture>
                            <source srcset="https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" media="(min-width: 1400px)">
                            <source srcset="https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"media="(min-width: 769px)">
                            <source srcset="https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" media="(min-width: 577px)">
                            <img srcset="https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="responsive image" class="d-block img-fluid">
                        </picture>

                        <div class="carousel-caption justify-content-center align-items-center">
                            <div>
                                <h2>
                                    Solidaridad,<br />
                                    Eficiencia,<br />
                                    Honradez
                                </h2>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- /.carousel-item -->
                <div class="carousel-item">
                    <a href="">
                        <picture>
                            <source srcset="https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" media="(min-width: 1400px)">
                            <source srcset="https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"  media="(min-width: 769px)">
                            <source srcset="https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"  media="(min-width: 577px)">
                            <img srcset="https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="responsive image" class="d-block img-fluid">
                        </picture>
                        <div class="carousel-caption justify-content-center align-items-center">
                            <div>
                                <picture>
                                    <source srcset="~/Assets/IMG_0273.png" media="(min-width: 1400px)">
                                    <source srcset="~/Assets/IMG_0273.png" media="(min-width: 769px)">
                                    <source srcset="~/Assets/IMG_0273.png" media="(min-width: 577px)">
                                    <img srcset="~/Assets/IMG_0273.png" alt="responsive image" class="d-block img-fluid">
                                </picture>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- /.carousel-item -->
            </div>
            <!-- /.carousel-inner -->
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- /.carousel -->
        <div class="container-fluid text-center techlabs">
            <h2> Nuestros proyectos</h2>
            <img src="~/Assets/tech_labs_logo.png" height="200px" width="180px" />
            <h2>@Html.ActionLink("Techlabs.com", "Index", "Home", null, new { @class = "section-title h1" })</h2>
        </div>
    </div>
                <!-- Team -->
                <section id="team" class="pb-5">
                    <div class="container team-con">
                        <h5 class="section-title h1">Equipo Scrum</h5>
                        <div class="row">
                            <!-- Team member -->
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                    <div class="mainflip">
                                        <div class="frontside">
                                            <div class="card">
                                                <div class="card-body text-center">
                                                    <img class=" img-fluid" src="~/Assets/andres.jpeg" alt="card image">
                                                    <h4 class="card-title"> Scrum Master </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="backside">
                                            <div class="card">
                                                <div class="card-body text-center mt-4">
                                                    <h4 class="card-title">Andrés  May Herrera</h4>
                                                    <p class="card-text">Número de Teléfono: 6136-6969</p>
                                                    <p class="card-text">Email: amayh@ucenfotec.ac.cr</p>
                                                    <p class="card-text">Dirección: Heredia, Santa Barbara.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Team member-->
                            <!-- Team member -->
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                    <div class="mainflip">
                                        <div class="frontside">
                                            <div class="card">
                                                <div class="card-body text-center">
                                                    <img class=" img-fluid" src="~/Assets/alex.jpeg" alt="card image">
                                                    <h4 class="card-title">Product Owner</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="backside">
                                            <div class="card">
                                                <div class="card-body text-center mt-4">
                                                    <h4 class="card-title">Alex Quesada Vargas</h4>
                                                    <p class="card-text">Número de Teléfono: 7203-3023</p>
                                                    <p class="card-text">Email: aquesadav@cenfotec.ac.cr</p>
                                                    <p class="card-text">Dirección: Alajuela, La Guácima.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./Team member -->
                            <!-- Team member -->
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                    <div class="mainflip">
                                        <div class="frontside">
                                            <div class="card">
                                                <div class="card-body text-center">
                                                    <img class=" img-fluid" src="~/Assets/abraham.jpeg" alt="card image">
                                                    <h4 class="card-title">Team Member</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="backside">
                                            <div class="card">
                                                <div class="card-body text-center mt-4">
                                                    <h4 class="card-title">Abraham Jesus Salas Alafaro</h4>
                                                    <p class="card-text">Número de Teléfono: 8320-9053</p>
                                                    <p class="card-text">Email: asalasa@ucenfotec.ac.cr</p>
                                                    <p class="card-text">Dirección: Alajuela, San Rafael.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./Team member -->
                            <!-- Team member -->
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                    <div class="mainflip">
                                        <div class="frontside">
                                            <div class="card">
                                                <div class="card-body text-center">
                                                    <img class=" img-fluid" src="~/Assets/marcos.jpeg" alt="card image">
                                                    <h4 class="card-title">Team Member</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="backside">
                                            <div class="card">
                                                <div class="card-body text-center mt-4">
                                                    <h4 class="card-title">Marcos Morales Cespedes</h4>
                                                    <p class="card-text">Número de Teléfono: 8866-1648</p>
                                                    <p class="card-text">Email: mmorales@ucenfotec.ac.cr</p>
                                                    <p class="card-text">Dirección: Limón, Siquirres.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./Team member -->
                            <!-- Team member -->
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                    <div class="mainflip">
                                        <div class="frontside">
                                            <div class="card">
                                                <div class="card-body text-center">
                                                    <img class=" img-fluid" src="~/Assets/keko.jpeg" alt="card image">
                                                    <h4 class="card-title">Team Member</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="backside">
                                            <div class="card">
                                                <div class="card-body text-center mt-4">
                                                    <h4 class="card-title">Michael McCrory</h4>
                                                    <p class="card-text">Número de Teléfono: 8808-3433</p>
                                                    <p class="card-text">Email: mmccroryv@ucenfotec.ac.cr</p>
                                                    <p class="card-text">Dirección: Heredia, Birrí de Santa Bárbara.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./Team member -->


                        </div>
                    </div>
                </section>
           <!-- Team -->
    </body>
</html>

