
@{
    ViewBag.Title = "RegistroMovimientos";
}
<script src="~/Scripts/Views/Logs.js"></script>
<h2 class="container text-center pt-5" >Registro de movimientos</h2>


<table id="tblLogs" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Log ID</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Acción</th>
           

        </tr>
    </thead>
</table>