
@{
    ViewBag.Title = "TestInfo";
}



<div class="container pt-5">
    <div class="row bg-light">
        <div class="col-4">
            <h4>ÁCIDO FÓLICO, SUERO</h4>
            <p>Detalles</p>
            <p>Para facilitar el diagnóstico de una anemia por falta de esta sustancia. También para evaluar el estado nutricional de una persona; o para monitorear la eficacia del tratamiento con inyecciones de vitamina B12. En embarazadas, para asegurar que los niveles son los adecuados para evitar malformaciones en el bebé, como la espina bífida.</p>
           

        </div>
        <div class="col-4 justify-content-center">
            <div>
                <p>Muestra Requerida</p>
                <p>La determinación se realiza a partir de una muestra de sangre venosa.</p>

            </div>
            <div>
                <p>Instrucciones</p>
                <p>Se requiere ayuno de 8 horas</p>
            </div>
            <div>
                <p>Referencia</p>
                <p>(3.1 - 20.5) ng/mL</p>

            </div>


        </div>



    </div>


















</div>