
@{
    ViewBag.Title = "ExamProfile";
}


    <link href="~/Content/Views/ExamProfile.css" rel="stylesheet"/>
    
    <h2 class="text-center text-muted pt-5">Detalles de prueba</h2>

    <div class="container pt-5 table ">
        <div class="col-lg justify-content-center">
            
            
        </div>
        <div class="table bg-light justify-content-center">
            <div class="col-lg">
                <h4>Nombre: Calcio, orina 24 horas</h4>
                <h5>Precio:  ₡12.900</h5>
                <button id="agregarCarrito" class="btn btn-outline-primary">Agregar al carrito</button>
                <p><strong>Detalles</strong></p>
                <p class="mt-0">
                    Como parte de un perfil metabólico de rutina; cuando existen síntomas de afectación renal, ósea, tiroidea, paratiroidea o nerviosa;
                    o cuando existen síntomas compatibles con una concentración significativamente elevada o disminuida de calcio. También en algunas enfermedades graves,
                    como en ciertos tipos de cáncer,cuando se ha prescrito un tratamiento para corregir las concentraciones de calcio y se quiere conocer si está siendo eficaz.
                </p>
                
            </div>
            <div class="col-lg justify-content-center">
                <div>
                    <p><strong>Muestra Requerida</strong></p>
                    <p>
                        La determinación se realiza a partir de una muestra de orina recolectada durante 24 horas, en un recipiente especial que se entrega en el laboratorio.
                    </p>

                </div>
                <div>
                    <p><strong>Instrucciones</strong></p>
                   
                    <p>
                        El paciente debe recolectar todas las muestras de orina que sucedan en un periodo de 24 horas y mantener este recipiente en refrigeración o en una hielera.
                        El día que se inicia la recolección debe descartarse la primera orina de la mañana y recolectar todas las que le sigan.
                        Se debe continuar con la recolección durante la madrugada y la última orina que se agrega debe ser la primera del día posterior al de recolección,
                        cerrando el ciclo de 24 horas.
                    </p>
                    <p>
                        Mantener este recipiente en refrigeración o en una hielera
                    </p>
                </div>
                <div>
                    <p><strong>Referencia</strong></p>
                  
                    <p>
                        Dieta libre de Calcio: de 5 hasta 40 mg/24 horas
                        Dieta pobre en Calcio: de 50 hasta 150 mg/24 horas
                        Consumo promedio: de 100 hasta 300 mg/24 horas
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/AddToCart/ItemsToCart.js"></script>
    @*<script src="~/Scripts/Views/Profiles/ExamProfile.js"></script>*@
